{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [2, { "extensions": [".js"] }],
    "react/prop-types": 2,
    "no-underscore-dangle": 2,
    "import/imports-first": [2, "absolute-first"],
    "import/newline-after-import": 2,
    "eqeqeq": 2,
    "no-console": [2, { "allow": ["warn", "error"] }],
    "no-case-declarations": 0,
    "indent": 2,
    "quotes": [2, "double"],
    "semi": 2,
    "curly": 2,
    "brace-style": 2,
    "camelcase": 2,
    "no-unused-vars": 2,
    "react/display-name": 0,
    "react/no-unescaped-entities": 0,
    "react/jsx-no-bind": 2
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}
